$icomoon-font-path: "fonts" !default;

$icon-cert: "\e914";
$icon-employee: "\e915";
$icon-image: "\e918";
$icon-notification: "\e91b";
$icon-resource: "\e91c";
$icon-service: "\e91d";
$icon-tnc: "\e91e";
$icon-addon: "\e920";
$icon-entity: "\e921";
$icon-clock: "\e900";
$icon-trash: "\e901";
$icon-pencil: "\e902";
$icon-eye-off: "\e904";
$icon-eye: "\e913";
$icon-bell: "\e92d";
$icon-arrow-bottom-right: "\e92b";
$icon-arrow-top-right: "\e92c";
$icon-search: "\e92a";
$icon-milestone: "\e927";
$icon-pers: "\e91f";
$icon-theme: "\e922";
$icon-user-circle: "\e91a";
$icon-filter: "\e919";
$icon-cog: "\e917";
$icon-login: "\e879";
$icon-star-off: "\e903";
$icon-plus: "\e909";
$icon-ellipses: "\e90a";
$icon-ellipses-vertical: "\e90b";
$icon-star-empty: "\e90d";
$icon-star: "\e90e";
$icon-arrow-down: "\e90f";
$icon-arrow-left: "\e910";
$icon-arrow-right: "\e911";
$icon-arrow-up: "\e912";
$icon-flag: "\e153";
$icon-tick: "\e5ca";
$icon-x: "\e5cd";
$icon-info: "\e88e";
$icon-external: "\e89e";
$icon-menu: "\e916";
$icon-chevron-down: "\e905";
$icon-chevron-left: "\e906";
$icon-chevron-right: "\e907";
$icon-chevron-up: "\e908";
$icon-exclamation: "\e90c";

