    // customization of bootstrap if any
    // card
    .card-columns {
        @include media-breakpoint-up(sm) {
            column-count: 2;
        }
    }

    ul.card-columns {
        padding: 0;
        margin: 0;
    }

    // forms?