
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,300');


// bootsrap vars

$spacer: 1.3rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$enable-rounded: true;
$enable-shadows: true;

$headings-margin-bottom: $spacer * 1.5;
$font-family-sans-serif:    Poppins,  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$link-hover-decoration: none;
$input-btn-padding-y: 0.5rem;

// redfine colros here
$blue:    #0770a6; 
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #F68D2E;
$yellow:  #ffc107;
$green:   #62ac45;
$teal:    #6dcdaf;
$cyan:    #17a2b8;
$black: #000;
 
$gray-200: #e6ecea;

// link colros is $primary

$body-bg: #f3f3f3; 
$body-color: #6b6b6b;
$card-cap-bg:  rgba($green, .08);


// cricket vars

$header-color:$blue;
$fonts-url: '../fonts/';
$images-url: '../images/';
$icon-font: 'cricket';
$icon-version: 1; // to uncache 
$body-pad: 70px;
$title-offset: 70px;
$global-shadow: 0 0 5px 0 rgba(0,0,0,.1);

// icons


// thats enough spacing
$halfspace: $spacer * 0.5;
$extraspace: $spacer * 1.5;
$doublespace: $spacer * 2;
$col:  $spacer * 2;  // ~ 36


// artefacts
$artefacts: ( "addons", "certs", "discounts", "employees", "entities", "fees", "images", "resources", "services", "terms");

$shadows: (
    0: none,
    1: (0 2px 2px 0 rgba($black,0.14), 0 1px 5px 0 rgba($black,0.12), 0 3px 1px -2px rgba($black,0.2)),
    2:(0 6px 10px 0 rgba($black,0.14), 0 1px 18px 0 rgba($black,0.12), 0 3px 5px -1px rgba($black,0.3)),
    3: (0 16px 24px 2px rgba($black,0.14), 0 6px 30px 5px rgba($black,0.12), 0 8px 10px -5px rgba($black,0.3))
); 




// $colors: (
//     "main-color":#fdc700, 
//     "sub-color": #44c2e2,
//     "light-gray":#f5faf9, 
//     // "white":#FFFFFF, 
//     // "black":#000000, 
//     "offwhite":#f4f6f7,
//     "orange":#F68D2E, 
//     "red": #d14124, 
//     // "green":#6cc24a, 
//     // "blue":#0770a6, 
//     "blue-light":#00c0f3,
//     "gray":#B0B2B4, 
//     "default":#a7a8a9
// );

