html {
    font-size: 87.5%; // 1 rem = 14px
}

body {
    padding-top: $body-pad + $title-offset;
    padding-bottom: 330px;
    min-height: 100vh;
    position: relative;
}

.page-header {
    @extend .bg-white;
    border-bottom: 4px solid $gray-500;
    @include shadow-variant(1);
    margin-bottom: $extraspace;
    padding: $halfspace 0;
    position: fixed;
    top: $title-offset;
    left: 0;
    right: 0;
    z-index: $zindex-fixed;
    @at-root #{&}__title {
        margin: 0;
        padding: 0;
        font-size: $font-size-base;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
    @at-root #{&}__card {
        position: relative;
        padding-left: 50px;
        .img {
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 40px;
            background: rgba($gray-500, 0.34);
            border: 2px solid $gray-500;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

// dev class
.dev {
    font-size: 9px;
    color: red;
    background-color: yellow;
    display: inline-block;
}

.chart-container {
    width: 100%;
    height: 200px;
}